/* Author: William Hopkins
Date: 11/8/2021
Class: CIS-130-102
Teacher: Ms. Markley */


/* style for body and order page*/
body
{
  display: grid;
  background-image: url('images/Pattern11.jpg');
  background-size: cover;
  background-position: center;
  padding: 10px;
}


/* h1,h4, and paragraph styles */
h1
{
  color: black;
  text-shadow: 2px 2px white;
  font-size: 40px;
  text-align: center;
}

h4
{
  border: 1px solid black;
  background-color: rgba(250, 250, 250, .8);
  border-radius: 25px;
  margin-top: 5px;
  padding: 10px;
  box-shadow: 3px 4px 3px black;
  text-align: center;
}

p
{
  text-align: center;
  background-color: rgba(250, 250, 250, .8);
  border-radius: 25px;
  font-weight: bold;
  border: 1px solid gray;
}

p:hover
{
  box-shadow: 2px 3px 30px white;
}



/* Picture above navigation bar  */
 /* .topimage
{
  background: linear-gradient(190deg, black, rgba(250, 250, 250, 0.05)), url('images/Pattern16.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  height: auto;
  width: auto;
  position: relative;
  border: 1px solid white;
  z-index: 1;
  box-shadow: 3px 4px 50px white;
} */

.topimage h1
{
  text-align: center;
  font-size: 40px;
  position: inherit;
  z-index: 10;
  font-family: 'Condiment', cursive;
  border-radius: 100%;
  border: 1px solid black;
  height: auto;
  width: 99%;
  background-image: url('images/Pattern14.png');
  background-size: cover;
  box-shadow: 5px 5px 10px white;
  text-shadow: 2px 2px grey;
  line-height: 75px;
}

/* navigation list style */
nav ul
{
  display: flex;
  justify-content: flex-start;
  margin: 20px;
  list-style: none;
  height: auto;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(250, 250, 250, .8);
  border: 1px solid black;
  font-size: 20px;
  text-align: center;
  line-height: 2.5;
  padding: 5px;
  box-shadow: 3px 4px 10px white;
}

nav ul li
{
Margin-right: 24px;

}

.logo
{
  position: absolute;
  right: 20px;
  font-family: 'Condiment', cursive;
  border: 1px solid white;
  box-shadow: 2px 3px 2px black;
  display: flex;
  border-radius: 5px;
  padding: 7px 5px 16px 10px;
  height: 10px;
  width: 65px;
  background-image: url('images/Pattern15.jpg');
  background-size: cover;
  line-height: normal;
}

nav ul li:hover
{
    text-decoration: underline;
}

a:link
{
  color: black;
  text-decoration: none;
}

a:visited
{
color: black;
}

a:hover
{
  color: black;
}

/* form h1 and form styles */
.form
{
  grid-area: form;
  margin: auto;
  height: auto;
  min-width: 210px;
  background-color: rgba(250, 250, 250, .8);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  border: 1px solid black;
  box-shadow: 3px 4px 10px white;
  padding: 20px;
}

.form h1
{
  background-image: url('images/Pattern15.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  position: relative;
  padding-top: 15px;
  text-align: center;
  margin-top: 5px;
  font-size: 55px;
  justify-content: center;
  color: black;
  text-shadow: 2px 2px white;
  border: 1px solid black;
  box-shadow: 3px 4px 5px black;
  font-family: 'Condiment', cursive;
}

/* main section of form */
.formpart
{
  display: flex;
}

.formsection
{
  border: 2px solid black;
  border-radius: 25px;
  background-image: linear-gradient(110deg, rgba(255,255,255,.1), rgba(0,0,0,.9));
  padding: 5px;
  width: auto;
  margin: auto;
}

/* style for reset and form buttons */

.finish
{
  display: flex;
  box-shadow: 2px 3px 10px black;
  border: 1px solid black;
  padding: 5px;
  justify-content: center;
  text-align: center;

}

.formbuttons
{
  display: flex;
  justify-content: center;
  margin: auto;
  width: auto;
  border-radius: 25px;
  align-items: center;
  padding-top: 5px;

}

.submit
  {
    width: 100%;
  }

.reset
  {
    width: 100%;
  }

.far
{
  position: relative;
  left: 15px;
  top: -33px;
  opacity: 1;
}

.reset:hover
{
  color: red;
}

.resetbtn:hover
{
  box-shadow: 2px 3px 10px red;
}

.submit:hover
{
  color: green;
}

.submitbtn:hover
{
  box-shadow: 2px 3px 10px green;
}

/* form label styles */
label
{
 display: flex;
 margin: auto;
 padding: 10px;
 font-weight: bold;
 text-decoration: underline;
 background-color: rgba(250,250,250,.7);
 border-radius: 25px;
 border: 1px solid black;
 justify-content: center;
 text-align: center;
 width: 70%;
 min-width: 56%;
 margin-bottom: 10px;
 box-shadow: 1px 2px 3px black;
}

/*style for input and select boxes */
input
{
  display: flex;
  margin: 10px;
  text-align: center;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 10px;
  box-shadow: 1px 2px 3px black;
}

select
{
  display: flex;
  margin: 5px;
  padding: 5px;
  font-weight: bold;
  background-color: white;
  border-radius: 25px;
  border: 1px solid black;
  text-align: center;
  width: 98%;
  justify-content: space-between;
  margin-bottom: 10px;
  box-shadow: 1px 2px 3px black;
}

option
{
  background-color: darkgrey;
  color: black;
}

.quantity
{
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: white;
  width: 92%;
  display: flex;
  margin: auto;
  margin-bottom: 25px;
}

/* review card on the order page */
.review
{
  grid-area: review;
  background-color: rgba(250, 250, 250, .8);
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px;
  width: auto;
  box-shadow: 3px 4px 10px white;
}

.review h4
{
  margin-top: 40px;
}

.review p {
  margin-top: -30px;
  border: none;
  background-color: inherit;
}

 .fa
{
  padding-bottom: 5px;
}

#user
{
  float: right;
}

.info
{
  margin: auto;
  display: flex;
  justify-content: space-between;
}





/* style for the connect card on the order page */
.connect
{
  grid-area: connect;
  background-color: rgba(250, 250, 250, .8);
  border: 1px solid black;
  border-radius: 25px;
  text-align: center;
  padding: 5px;
  box-shadow: 3px 4px 10px white;
}

.connect P
{
  padding: 20px;
  width: 80%;
  position: relative;
  bottom: 10px;
  margin: auto;
  box-shadow: 3px 4px 3px black;
}

.connect a:hover
{
  text-decoration: underline;
  color: black;
}




/* Social media card on the order page */
.social
{
  grid-area: social;
  background-color: rgba(250, 250, 250, .8);
  border: 1px solid black;
  border-radius: 25px;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 3px 4px 10px white;
}

.socialcontainer
{
  border: 1px solid black;
  width: auto;
  margin: auto;
  border-radius: 25px;
  background-color: rgba(250,250,250,.9);
  padding: 1px;
  box-shadow: 3px 4px 5px black;
}


.socialcontainer:hover {
  background-color: lightgrey;
}


.socialcontainer a:hover {
  color: beige;
}


/*Style for Images, shirts, descriptions, and shirt boxes*/
img
{
  height: 70%;
  width: 70%;
  margin: auto;
  display: flex;
  margin-top: 20px;
  border-radius: 25px;
  border: 2px solid black;
}

.shirts
{
  display: flex;
  flex-wrap: wrap;
  grid-gap: 20px;
  margin: auto;
  justify-content: center;
}

.shirtbox
{
  border: 2px solid black;
  box-shadow: 3px 4px 10px white;
  margin: 1px;
  height: 350px;
  background-color: rgba(250, 250, 250, .8);
  border-radius: 25px;
}

.boxes
{
  display: grid;
  grid-gap: 25px;
  grid-template-areas:
  'form review'
  'form connect'
  'form social';
}

.shirtbox p
{
  width: 60%;
  text-align: center;
  margin: 5px auto;
  padding: 5px;
}


/* container2 style for the thank you page */
.container2
{
  text-align: center;
  border: 2px solid black;
  border-radius: 25px;
  background-color: rgba(250, 250, 250, .9);
  margin: auto;
  padding: 10px;
  box-shadow: 2px 3px 30px white;
  position: relative;
  top: 300px;
}

.container2 h2
{
  background-color: white;
  border-radius: 25px;
  border: 1px solid black;
  text-decoration: underline;
}




/* footer tag */
footer {
  background-color: rgba(250, 250, 250, .9);
  color: black;
  height: 35px;
  width: auto;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  border: 1px solid black;
  border-radius: 25px;
  font-size: 25px;
  box-shadow: 3px 4px 5px black;
}




/* Media query for 1 breakpoint */
@media screen and (max-width: 568px)
{

  /* Order page in mobile viewport */
  .boxes
  {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
  'form'
  'review'
  'connect'
  'social';
  }
/* Shirt page in mobile viewport */
  .shirtbox
  {
    width: 90%;
  }

.shirtbox p
  {
    position: relative;
    bottom: 0px;
    padding: 5px;
  }

/* Navigation in mobile viewport */
nav ul
  {
    display: block;
    width: auto;
    border-radius: 25px;
    margin: auto;
    margin-bottom: 20px;
  }

  nav ul li {
margin: auto;
  }

.topimage {
  margin-bottom: 20px;
}


.connect a:hover {
  text-decoration: underline;
  color: grey;
}

nav ul li:hover
  {
    border: 1px solid black;
    text-decoration: underline;
    background-color: white;
    border-radius: 25px;
    color: white;
  }

  .logo {
    display: none;
  }
}
